Repository thoth-station/core: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

community-management/prow/peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

community-management/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /ko-app/label_sync \
  
        --config=community/labels.yaml \
  
        --orgs=thoth-station  \
  
        --token=/etc/github/oauth \
  
        --confirm
  
  ...

:turtle: Allow sig-chairs with write access to multiple repos
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

ADR for Scorecard metrics aggregation and stack quality scoring
  docs/adr/0007-scorecard-metrics.md
  docs/adr/images/Scorecards_metrics_ADR.png
Due: none

Update github-config.yaml
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update community owners
  community/OWNERS
Due: none

update OWNERS file
  .pre-commit-config.yaml
  community/OWNERS
Due: none

:arrow_up: update ci config
  .prow.yaml
Due: none

:arrow_up: add sig leads teams, this is part of https://github.com/thoth-station/core/issues/427
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

removed fridex 😢
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:pray: Thank you for your service
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:pray: Thank you for your service (#447)
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:sparkles: add the opendatahub-cnbi feature repository
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update ci and code review docs
  docs/code-review.rst
Due: none

Update ci and code review docs (#450)
  docs/code-review.rst
Due: none

Explain the zero-bug policy
  docs/TermsAndConditionsForTheScrum.md
Due: none

🙏 thanks for all the work @fridex!!
  OWNERS_ALIASES
  community/sig-list.md
  community/sig-stack-guidance/README.md
  community/sigs.yaml
Due: none

:arrow_up: pre-commit plugins
  .pre-commit-config.yaml
Due: none

Fix label description typo.
  community/labels.yaml
Due: community-management/prow/labels

Add a label for the CNBi feature as a Working Group: wg/cnbi
  community/labels.md
  community/labels.yaml
Due: community-management/prow/labels

Add the CNBi Working Group
  OWNERS_ALIASES
  community/sigs.yaml
  community/wg-cnbi/README.md
  community/wg-cnbi/charter.md
Due: none

Update SIG/WG templates to point to thoth's GH and ODH slack
  community/generator/sig_readme.tmpl
  community/generator/wg_readme.tmpl
  community/sig-devsecops/README.md
  community/sig-observability/README.md
  community/sig-stack-guidance/README.md
  community/sig-user-experience/README.md
  community/wg-cnbi/README.md
Due: none

Include @MichaelClifford in the team to maintain repos
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Include the repos missing from the github config
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Give SigChairs write perms on all repos
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:sparkles: move repo to thoth-station org
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add some more pyramides images
  images/pyramides.xcf
  images/pyramides_large.png
Due: none

:tada: removed a few references to the master branch
  CONTRIBUTING.md
  docs/code-review.rst
  docs/release-management.rst
Due: none

Update docs/TermsAndConditionsForTheScrum.md
  docs/TermsAndConditionsForTheScrum.md
Due: none

Clarify cases where a bug report is re-classified as a feature request
  docs/TermsAndConditionsForTheScrum.md
Due: none

Allow admins to write privileges on odh-dashboard repo
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update the branch master ref to main to fix prow jobs
  .prow.yaml
  community/labels.md
  community/labels.md.tmpl
  docs/intern-projects/Inferring-package-names-out-of-Python-imports.md
Due: none

:sparkles: add traas WG and renamed cnbi to cre
  community/labels.yaml
Due: community-management/prow/labels

:sparkles: update community owners file
  community/OWNERS
Due: none

:bug: put a max line len to CRE description
  community/labels.yaml
Due: community-management/prow/labels

Path conditions:
  community-management/prow/peribolos: any of: ^community/github-config\.yaml$
  community-management/prow/labels: (any of: ^community/labels.yaml$) or (any of: ^community/(github-config|labels)\.yaml$)
