Repository thoth-station/core: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

community-management/prow/peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

community-management/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

:bug: shortened the CRE escription
  community/labels.yaml
Due: community-management/prow/labels

Sync labels.md after recent labels.yaml change
  community/labels.md
Due: none

Update github-config.yaml
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:pencil: clean up of some members, thanks for all the great work! 🌴
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Make Pep an org admin
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:sparkles: add labels used by robozome :robot:
  community/labels.yaml
Due: community-management/prow/labels

:sparkles: add a short note on how we choose supported runtime environments
  community/SUPPORT_POLICY.md
Due: none

rename the add_package script
  community/labels.yaml
Due: community-management/prow/labels

Update community/SUPPORT_POLICY.md
  community/SUPPORT_POLICY.md
Due: none

add the bot!
  images/33906690.png
Due: none

adding svg version of robot
  images/toth-robot.svg
Due: none

put a hibernation notice on the sigs, remove the meeting data
  OWNERS
  OWNERS_ALIASES
  community/OWNERS
  community/README.md
  community/github-config.yaml
  community/sig-devsecops/README.md
  community/sig-list.md
  community/sig-observability/README.md
  community/sig-stack-guidance/README.md
  community/sig-user-experience/README.md
  community/sigs.yaml
  community/wg-cnbi/README.md
Due: community-management/prow/peribolos, community-management/prow/labels

:arrow_up: update pre-commit config
  .pre-commit-config.yaml
Due: none

Update README.rst
  README.rst
Due: none

update prow config, fix context of jobs
  .prow.yaml
Due: none

update .prow.yaml
  .prow.yaml
Due: none

Path conditions:
  community-management/prow/peribolos: any of: ^community/github-config\.yaml$
  community-management/prow/labels: (any of: ^community/labels.yaml$) or (any of: ^community/(github-config|labels)\.yaml$)
