Repository thoth-station/core: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

community-management/prow/peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

community-management/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /ko-app/label_sync \
  
        --config=community/labels.yaml \
  
        --orgs=thoth-station  \
  
        --token=/etc/github/oauth \
  
        --confirm
  
  ...

:exclamation: Peribolos binaries is shifted to /ko-app/ dir
  .prow.yaml
Due: none

Remove sig-docs
  OWNERS_ALIASES
  community/OWNERS_ALIASES
  community/liaisons.md
  community/sig-docs/OWNERS
  community/sig-docs/README.md
  community/sig-docs/charter.md
  community/sig-list.md
  community/sigs.yaml
Due: none

Clean up the SIG-related labels to match existing SIGs
  community/labels.md
  community/labels.yaml
Due: community-management/prow/labels

Set SP-pipelines meeting to weekly
  community/sig-devsecops/README.md
  community/sig-list.md
  community/sigs.yaml
Due: none

Remove the needs-triage label from the templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add the title slide we use for YT videos
  images/Thoth Title Slide.png
Due: none

Add current implementation in ADR
  docs/adr/0005-automatically-bump-container-image-versions.md
Due: none

Introduce an ADR for automatic base image version updates
  docs/adr/0005-automatically-bump-container-image-versions.md
Due: none

ADR for kebechet optimization
  docs/adr/0005-obtimizing-keb-runs.md
Due: none

Remove user from devs team
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

added oindrillac to thoth members
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add the g-f-i and help-wanted labels, incl. a short explanation (borrowed from kube community)
  community/help-wanted.md
  community/labels.md
  community/labels.yaml
Due: community-management/prow/labels

update pre-commit plugins
  .pre-commit-config.yaml
Due: none

remove Francesco, thanks for all the work @pacospace!! OWNERS
  OWNERS
Due: none

Update github-config.yaml
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update links in the roadmap doc
  docs/ROADMAP.md
Due: none

Update the Terms and Conditions for the Scrum document
  docs/TermsAndConditionsForTheScrum.md
Due: none

Add username in admins
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

removing pacospace :(
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Make peribolos and label_sync use ghproxy
  .prow.yaml
Due: none

Fix label_sync token argument name
  .prow.yaml
Due: none

Change the label for prod deployment env
  community/labels.yaml
Due: community-management/prow/labels

ADR proposal for the Thoth GitHub Action
  docs/adr/0006-thoth-github-action.md
  docs/adr/images/Thoth-GitHub-Action-ADR.drawio.png
Due: none

Fix diagram
  docs/adr/0006-thoth-github-action.md
  docs/adr/images/Thoth-GitHub-Action-ADR.drawio.png
Due: none

Use Thamos as a CLI
  docs/adr/0006-thoth-github-action.md
  docs/adr/images/Thoth-GitHub-Action-ADR.drawio.png
Due: none

Update diagram
  docs/adr/images/Thoth-GitHub-Action-ADR.drawio.png
Due: none

Add shreekarSS to thoth members
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

🥹 removing @Fridex from a few items
  community/OWNERS
  community/github-config.yaml
  community/sig-list.md
  community/sig-stack-guidance/README.md
  community/sigs.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:recycle: HouseKeeping: Updated repos and teams for triaging
  OWNERS
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Enable projects for thoth-station/support
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Enable projects for thoth-station/srcops-testing
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Adding VannTen (Max Gautier) as project member
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Adding VannTen (Max Gautier) as a dev
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update SIG-UserExperience details
  OWNERS_ALIASES
  community/sig-list.md
  community/sig-user-experience/README.md
  community/sigs.yaml
Due: none

Update SIG DevSecOps and SIG Observability metadata
  community/sig-devsecops/README.md
  community/sig-list.md
  community/sig-observability/README.md
  community/sigs.yaml
Due: none

Update repos and sub-projects for SIG DevSecOps and Observability
  OWNERS_ALIASES
  community/sig-devsecops/README.md
  community/sig-observability/README.md
  community/sigs.yaml
Due: none

Fix a typo
  docs/TermsAndConditionsForTheScrum.md
Due: none

Enable repository projects
  community/github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Clarify documentation about issue triage
  docs/TermsAndConditionsForTheScrum.md
Due: none

Path conditions:
  community-management/prow/peribolos: any of: ^community/github-config\.yaml$
  community-management/prow/labels: (any of: ^community/labels.yaml$) or (any of: ^community/(github-config|labels)\.yaml$)
